Alexey Slaykovsky <alexey@macbook.dlink>  Alexey Slaykovsky <alexey@macbook.dlink> 
Andy Hayden <andyhayden1@gmail.com>  Andy Hayden <andyhayden1@gmail.com> 
Ash Wilson <smashwilson@gmail.com>  Ash Wilson <smashwilson@gmail.com> 
Calvin Bottoms <calvin.bottoms@gmail.com>  Calvin Bottoms <calvin.bottoms@gmail.com> 
Calyhre <calyhre@gmail.com>  Calyhre <charley.david@wopata.com> 
Christian Kjaer Laustsen <christianlaustsen@gmail.com>  Christian Kjaer Laustsen <christianlaustsen@gmail.com> 
Ciaran Downey <me@ciarand.me>  Ciaran Downey <me@ciarand.me> 
Dan <daniel.bayley@me.com>  Dan <daniel.bayley@me.com> 
Daniel Bayley <daniel.bayley@me.com>  Daniel Bayley <daniel.bayley@me.com> 
Daniel Chatfield <chatfielddaniel@gmail.com>  Daniel Chatfield <chatfielddaniel@gmail.com> 
Dustin Blackman <dustinblackman@users.noreply.github.com>  Dustin Blackman <dustinblackman@users.noreply.github.com> 
Erran Carey <me@errancarey.com>  Erran Carey <me@errancarey.com> 
Florian Lefèvre <zedentox@gmail.com>  Florian Lefèvre <zedentox@gmail.com> 
Hans Rødtang <hansrodtang@gmail.com>  Hans Rødtang <hansrodtang@gmail.com> 
Hikaru Ojima <hikaru.ojima@mixi.co.jp>  Hikaru Ojima <hikaru.ojima@mixi.co.jp> 
Ilya Palkin <ilya1984@ukr.net>  Ilya Palkin <ilya1984@ukr.net> 
Ivan Storck <ivanoats@gmail.com>  Ivan Storck <ivanoats@gmail.com> 
Jake Sankey <jakesankey@icloud.com>  Jake Sankey <jakesankey@icloud.com> 
Johan Bruning <johan@taquito.nl>  Johan Bruning <johan@taquito.nl> 
Kyle Kelley <rgbkrk@gmail.com>  Kyle Kelley <kyle.kelley@rackspace.com> 
Kyle Kelley <rgbkrk@gmail.com>  Kyle Kelley <rgbkrk@gmail.com> 
Kyle Kelley <rgbkrk@gmail.com>  rgbkrk <rgbkrk@gmail.com> 
Lance Batson <lancebatsondev@gmail.com>  Lance Batson <intothev01d@users.noreply.github.com> 
Lance Batson <lancebatsondev@gmail.com>  Lance Batson <lancebatsondev@gmail.com> 
Lance Batson <lancebatsondev@gmail.com>  Lance Batson <lbatson@my.apsu.edu> 
Liam Dawson <liam@liamdawson.me>  Liam Dawson <liam@liamdawson.me> 
Lucas Magno <lmagno94@gmail.com>  Lucas Magno <lmagno94@gmail.com> 
Marek Piechut <marek.piechut@gmail.com>  Marek Piechut <marek.piechut@gmail.com> 
Mirek Rusin <mirek@me.com>  Mirek Rusin <mirek@me.com> 
Otto Robba <OttoRobba@users.noreply.github.com>  Otto Robba <OttoRobba@users.noreply.github.com> 
Pedro Rodriguez <ski.rodriguez@gmail.com>  Pedro Rodriguez <ski.rodriguez@gmail.com> 
Rafael Belvederese <rafael@blvz.im>  Rafael Belvederese <rafael@blvz.im> 
Rnhmjoj <micheleguerinirocco@me.com>  Rnhmjoj <micheleguerinirocco@me.com> 
Rodolfo Carvalho <rhcarvalho@gmail.com>  Rodolfo Carvalho <rhcarvalho@gmail.com> 
Sagi <saginedunkanal@users.noreply.github.com>  Sagi <saginedunkanal@users.noreply.github.com> 
Sergey Koshelev <xih@yandex.ru>  Sergey Koshelev <xih@yandex.ru> 
ThiconZ <xennma@outlook.com>  ThiconZ <ThiconZ@users.noreply.github.com> 
ThiconZ <xennma@outlook.com>  ThiconZ <xennma@outlook.com> 
Tomasz Grodzki <dev@plain.pl>  Tomasz Grodzki <dev@plain.pl> 
Will Sahatdjian <ws@kindwave.com>  Will Sahatdjian <ws@kindwave.com> 
Yeonghoon Park <sola92@gmail.com>  Yeonghoon Park <sola92@gmail.com> 
benjamin <benjamin.nave@gmail.com>  benjamin <benjamin.nave@gmail.com> 
bryanweatherly <bryanweatherly@gmail.com>  bryanweatherly <bryanweatherly@gmail.com> 
cdingpeng <cdingpeng@glitchsoft.com>  cdingpeng <cdingpeng@glitchsoft.com> 
cormullion <cormullion@mac.com>  cormullion <cormullion@mac.com> 
dev <dev@debian7devel>  dev <dev@debian7devel> 
elclanrs <cedric.ruiz@spacirdesigns.com>  elclanrs <cedric.ruiz@spacirdesigns.com> 
fazo96 <fazius2009@gmail.com>  fazo96 <fazius2009@gmail.com> 
gerane <gerane@gmail.com>  gerane <gerane@gmail.com> 
jbtule <jay+code@tuley.name>  jbtule <jay+code@tuley.name> 
kami <kami30k@gmail.com>  kami <kami30k@gmail.com> 
liamdawson <dawmail333@gmail.com>  liamdawson <dawmail333@gmail.com> 
morinmorin <mimomorin@gmail.com>  morinmorin <mimomorin@gmail.com> 
icedvariables <macodeblacko@gmail.com> macodeblacko@gmail.com <=>
