# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

# Only bind the keys in the editor
'.editor':
  'ctrl-r': 'script:run-selection'
  'ctrl-w': 'script:close-selection'
  'ctrl-c': 'script:kill-process'
