# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

# Only bind the keys in the editor
'.platform-darwin atom-text-editor':
  'cmd-i': 'script:run'
  'shift-cmd-k': 'script:run-with-profile'
  #'shift-enter': 'script:run'
  'ctrl-w': 'script:close-view'
  'ctrl-c': 'script:kill-process'
  'shift-cmd-j': 'script:run-by-line-number'
  'shift-cmd-i': 'script:run-options'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'shift-ctrl-b': 'script:run'
  'shift-ctrl-alt-b': 'script:run-with-profile'
  #'shift-enter': 'script:run'
  #'ctrl-w': 'script:close-view'
  'ctrl-q': 'script:kill-process'
  'shift-ctrl-j': 'script:run-by-line-number'
  'shift-ctrl-alt-o': 'script:run-options'
