// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "ui-mixins";

.script {
  overflow: scroll;
  height: 300px;
  margin-bottom: 0px;
}

.heading {
  position: fixed;
  width: 100%;
}

.heading-close {
  color: white;
}

.heading-title {
  padding-left: 6px;
}

.heading-status {
  padding-left: 9px;
}

.icon-check {
  color: green;
}

.icon-hourglass {
  color: white;
}

.icon-stop {
  color: red;
}

.panel-body pre{
  background: #1d1f21;
}

.output {
  margin-top: 35px;
}

.stderr {
  color: red;
}

.line {
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}
